.env
.pytest_cache
__pycache__
.venv
*.csv
*.parquet
.DS_Store

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfplan
*.tfplan.*
.terraformrc
terraform.rc
